---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <h1>Where is my about page</h1>
  <p>Thato wake up, I am waiting for you</p>
  <p>What are you thinking about and what are you wearing</p>
</Layout>
